<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" href="style.css"/>

<body>

<div>
    <h1>HfT 2021 Shopping List</h1>
    <h3>
        <span th:text="'Hello, ' + ${message}"></span>
    </h3>
    <form method="POST" th:action="@{/}">
        <label for="newitem">New Shopping Item</label>
        <input type="text" name="newitem" th:value="${newitem}" />
        <input type="text" name="amount" th:value="${amount}" />
        <input type="submit" value="Add!">
    </form>
</div>

<div th:unless="${#lists.isEmpty(items)}">    
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"/>
            <td th:text="${item.item}"/>
            <td th:text="${item.amount}"/>
            <td>
                <form method="POST" th:action="@{/delete/}">
                    <input type="hidden" name="id" th:value="${item.id}" />
                    <input type="submit" value="Done!"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<div th:if="${#lists.isEmpty(todos)}">
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>Nothing</td>
            <td>None</td>
        </tr>
    </table>
</div>

</body>